[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "==3.0.51"
gunicorn = "*"
mysqlclient = "==1.4.6"
pymysql = "*"
djangorestframework = "*"
django-oauth-toolkit = "*"
djangorestframework-simplejwt = "*"

[requires]
python_version = "3.7"
