{% extends "email/base.html" %}
{% load i18n staticfiles %}

{% block main %}
{% autoescape off %}
<tr>
    <td height="45" style="height:45px;" class="em_h20">&nbsp;</td>
</tr>
<tr>
    <td class="em_grey" align="center" valign="top"
        style="font-family: Arial, sans-serif; font-size: 16px; line-height: 26px; color:#434343;">
        Please use the below code to sign into you account.
    </td>
</tr>
<tr>
    <td height="26" style="height:26px;" class="em_h20">&nbsp;</td>
</tr>
<tr>
    <td align="center" valign="top">
        <table width="250" style="width:250px; background-color:#6bafb2; border-radius:0;"
               border="0" cellspacing="0" cellpadding="0" align="center">
            <tr>
                <td class="em_white" height="42" align="center" valign="middle"
                    style="font-family: Arial, sans-serif; font-size: 16px; color:#ffffff; font-weight:bold; height:42px;">

                    {{ otp_code }}


            </tr>
        </table>
    </td>
</tr>
{% endautoescape %}
{% endblock %}
